<a routerLink="back"><img src="./assets/logo-1.png" alt="logo" id="logo"></a>

  <button type="submit" id="settings" routerLink="off_on" style="border: 0; background: transparent">
      <img src="./assets/button-music.png" width="60%" height="60%" alt="settings" />
    </button>
    <div class="txt">Musique</div>
    <button type="submit" id="settings" style="border: 0; background: transparent">
      <img src="./assets/button-sound.png" width="60%" height="60%" alt="settings" />
    </button>
    <div class="txt">Son</div>
